<section class="container">
    <img id="firstImg" src="./../../../assets/upload.png"/>
    <section class="upload-section" uploaderDir (fileDropped)="prepareFilesList($event)">
        <input #fileUploader id="fileUploader" type="file" multiple (change)="prepareFilesList($event.target.files)" />
        <h3 class="desktop">Drag and Drop File Here</h3>
        <h3 class="desktop">Or</h3>
        <label for="fileUploader" class="btn-action">Browse For File</label>
    </section>
    <div class="files-list">
        <div class="card" *ngFor="let file of files; let i = index">
            <img *ngIf="file.type.includes('image')" class="card-img-top" [src]="file.media" />
            <img *ngIf="!file.type.includes('image') && !file.type.includes('video')" class="card-img-top" src="../../../assets/file-pic.png" />
            <app-video-player *ngIf="file.type.includes('video')" class="card-img-top" [options]="{ autoplay: true, controls: true, sources: [{ src: file.media, type: 'video/mp4' }]}"></app-video-player>
            <div class="card-body">
              <h5 class="card-title name">{{ file?.name }}</h5>
              <p class="card-text size">
                {{ formatBytes(file?.size) }}
              </p>
              <p>
                <app-progress [progress]="file?.progress"></app-progress>
              </p>
              <div *ngIf="file.progress === 100">
                <button class="btn-prim" (click)="downloadFile(file)">Save</button>
                <button class="btn-sec" (click)="deleteFile(i)">Delete</button>
              </div>
            </div>
          </div>
    </div>
    <img id="secondImg" src="./../../../assets/data-user.png" />
</section>
